.history {
    padding: 100px 0;
    &__title {
        font-family: Corinthia;
        font-size: 105px;
        font-weight: 400;
        line-height: 126px;
        text-align: center;
    }
    &__container {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__card {
        $me: &;
        flex: 1;
        &.husband{
            #{$me}--title{
                text-align: right;
            }
            #{$me}--text{
                text-align: right;
            }
        }
        &.wife{
            transform: translateY(50px);
        }
        &--title {
            font-family: Cormorant;
            font-size: 60px;
            font-weight: 700;
            line-height: 72px;
            text-align: center;
            margin-bottom: 20px;
        }
        &--text {
            font-family: Cormorant;
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
        }
        &--image{
            max-width: 400px;
        }
    }
}
