.invitation {
    &__card {
        position: relative;
        height: 700px;
        border-radius: 20px;
        overflow: hidden;
        padding: 30px;
        &--title {
            font-family: Corinthia;
            font-size: 105px;
            font-weight: 400;
            line-height: 126px;
            color: #fff;
        }
        &--header {
            text-align: center;
        }
        &--hour {
            font-family: Comfortaa;
            font-size: 32px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            color: #fff;
        }
        &--text {
            font-family: Comfortaa;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            max-width: 400px;
            color: #fff;
        }
        &--picture {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            img {
                object-fit: cover;
                object-position: bottom;
                width: 100%;
                height: 100%;
                transform: scale(1.1);
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(
                    0,
                    0,
                    0,
                    0.3
                ); /* Ajusta la opacidad como desees */
                pointer-events: none; /* Permite clics a través de la capa si es necesario */
            }
        }
        &--container {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }
}
